@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800);
* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: Open Sans;
  font-size: 16px;
  width: 960px;
  max-width: 100%;
  margin: 30px auto;
  padding: 30px;
  box-sizing: border-box;
  font-weight: 600;
  max-width: 100%;
  background: #f1f1f1;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

fieldset {
  padding: 10px 0;
  border: 0;
}

.hide {
  display: none;
}

form {
  max-width: 800px;
  margin: auto;
}

.question {
  background: #FFF;
  border-radius: 5px;
  padding: 20px;
}
.question label {
  display: block;
  margin-bottom: 5px;
}
.question input,
.question select {
  font-family: Open Sans;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border: 1px solid #35a3e8;
  margin-right: 10px;
  border-radius: 5px;
  vertical-align: top;
  width: 180px;
}
.question button {
  width: 70px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  border: 0 none;
  background-color: #35a3e8;
  color: #FFF;
  font-size: 12px;
  text-align: center;
  margin-right: 10px;
  vertical-align: top;
  padding: 0;
  cursor: pointer;
}
.question button.btn-confirm {
  background: #48e024;
}
.question button.btn-edit {
  background: #454545;
}
.question button.btn-remove {
  background: tomato;
}
