@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800);

$size-body:				16px;
$size-button:			14px;

$gutter:					20px;
$gutter-half:			$gutter / 2;
$gutter-half-minus:	-$gutter-half;

$question-width: 		380px;
$button-third:			($question-width - $gutter) / 3;
$input-height:			60px;

$primary-color:		#35a3e8;
$secondary-color:		rgba($primary-color, 0.66);
$dark-grey:				#454545;
$input-border-color:	$secondary-color;


$family-body:			Open Sans;

* {
	box-sizing: border-box;
	max-width: 100%;
}

body {
	font-family: $family-body; font-size: 16px;
	width: 960px; max-width: 100%;	
	margin: 30px auto; padding: 30px;
	box-sizing: border-box;
	font-weight: 600;
	max-width: 100%;
}

form > section {
	//width: 33%;
	//float: left;
}

.hide {
	display: none;
}
.question {
	padding: $gutter;
	// question label styles
	> label {
		display: block;
		margin-bottom: $gutter-half;
	}
	// text input styles
	> input {
		width: $question-width;
		max-width: 100%;
		padding: 0 $gutter;
		border: 1px solid $input-border-color;
		height: $input-height;
		line-height: $input-height;
		font-weight: 400;
		font-size: $size-body;
		font-family: $family-body;
		&.half {
			&:first-of-type {
				width: 48%;
				margin-right: 2%;
				float: left;
			}
			&:last-of-type {
				width: 48%;
				margin-left: 2%;
				float: left;
			}
		}
		&:focus {
			outline: 0;
			border: 1px solid #35a3e8;
			box-shadow: 0 0 10px #35a3e8;
		}
		&.input-valid {
			border-color: #18bc9c;
			color: #18bc9c;
		}
		&.input-error {
			border-color: tomato;
			color: tomato;
		}
	}
	// radio / checkbox styles
	fieldset {
		border: 0;
		padding: 0; margin: 0;
		width: $question-width;
		max-width: 100%;
		font-size: 0;
		position: relative;
		// legend styles
		legend {
			font-size: $size-body;
			margin-bottom: $gutter-half;
		}
		// label used as button
		label {
			width: $button-third;
			height: $input-height;
			line-height: $input-height;
			background: $dark-grey;
			color: #FFF;
			display: inline-block;
			text-align: center;
			font-size: $size-button;
			font-weight: 400;
			margin-right: $gutter-half;
			margin-bottom: $gutter-half;
			cursor: pointer;
			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
		
		input:hover + label {
			background: $secondary-color;
			color: #fff;
		}
		// style checked button
		input:focus + label,
		input:checked + label {
			background: $primary-color;
			color: #fff;
		}
		
		// accessible hide inputs
		input {
			border: 0; 
			clip: rect(0 0 0 0); 
			height: 1px; margin: -1px; 
			overflow: hidden; 
			padding: 0; 
			position: absolute; 
			width: 1px;
		}
		// show fieldset focused
		input:focus ~ .focus {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			margin: $gutter-half-minus;
			padding: $gutter-half $gutter-half 0;
			outline: 0;
			border: 1px solid #35a3e8;
			box-shadow: 0 0 10px #35a3e8;
			z-index:-1;
		}
		
		&.input-error {
			label {
				color: tomato;
				border: 1px solid tomato;
			}
		}
		.input-error + label {
			color: tomato;
			border: 1px solid tomato;
		}
		
		// confirm amount button
		button {
			width: $gutter;
			height: $gutter;
			border-radius: 100%;
			background: #45f55e;
			float: left;
		}
	}
}

// submit button styles
button {
	width: $question-width; height: $input-height * 1.25;
	line-height: $input-height * 1.25;
	background: $primary-color;
	display: inline-block;
	text-align: center; color: #fff;
	font-size: $size-body; font-weight: 400;
	font-family: $family-body;
	margin-right: $gutter-half; 
	margin-bottom: $gutter-half;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	&.half {
		&:first-of-type {
			width: 48%;
			margin-right: 2%;
			margin-left: 0;
			float: left;
		}
		&:last-of-type {
			width: 48%;
			margin-left: 2%;
			margin-right: 0;
			float: left;
		}
	}
	&.secondary {
		height: $input-height;
		line-height: $input-height;
		background: $input-border-color;
		margin-top: $gutter-half;
		&.attached {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			margin-top: 0;
		}
	}
	&.button-error {
		background: tomato;
		color: #fff;
	}
}


.message-error {
	color: tomato;
	padding: 5px 0;
	font-size: 14px;
	display: block;
}


pre {
	    width: 100%;
    display: inline-block;
}